# 依赖
node_modules/
package-lock.json
pnpm-lock.yaml

# 构建输出
build/
.nuxt/
.output/
dist

# 缓存
.cache/
*.log

# 配置文件
*.config.js
*.config.ts
*.config.json
tailwind.config.js
postcss.config.js

# 其他
coverage/
.nyc_output/
*.min.css
.DS_Store
